*{
    font-family: "Mulish", sans-serif;
}
body{
    margin-left: auto;
    margin-right: auto;
}
/* Banner BG */
.banner{
    background-image: url(/images/bgbanner.png) ;
    background-color: #12132D;
    background-repeat: no-repeat;
    background-position: right 50% bottom -50%;
    background-size: contain;
}
@media screen and (max-width: 1280px) {
    .banner{
        background-position: right 50% bottom 0%;
    }
}